import("xcms",
       "CAMERA",
       "methods",
       "utils")

importFrom("utils",
           "write.csv",
           "object.size",
           "read.table",
           "read.csv")

export("doLOBscreen",
       "loadLOBdbase",
       "extractLOBdbasedata",
       "getLOBpeaklist")

export("generateLOBdbase")

exportClasses("LOBSet",
              "LOBdbase")

exportMethods("show",
              "LOBisoID.diagnostics",
              "polarity",
              "sampnames",
              "LOBscreen.settings",
              "LOBscreen.diagnostics",
              "num.compounds",
              "num.entries",
              "frag_ID",
              "mz",
              "exact_parent_neutral_mass",
              "lipid_class",
              "species",
              "adduct",
              "adduct_rank",
              "FA_total_no_C",
              "FA_total_no_DB",
              "degree_oxidation",
              "parent_elem_formula",
              "parent_compound_name"
              )