import("xcms",
       "CAMERA",
       "methods",
       "utils")

export("doLOBscreen",
       "loadLOBdbase",
       "extractLOBdbasedata",
       "getLOBpeaklist")

export("generateLOBdbase")

exportClasses("LOBSet",
              "LOBdbase")

exportMethods("show",
              "LOBisoID_diagnostics",
              "LOBisoID_diagnostics<-",
              "polarity",
              "polarity<-",
              "sampnames",
              "sampnames<-",
              "LOBscreen_settings",
              "LOBscreen_settings<-",
              "LOBscreen_diagnostics",
              "LOBscreen_diagnostics<-",
              "num_compounds",
              "num_compounds<-",
              "num_entries",
              "num_entries<-",
              "frag_ID",
              "frag_ID<-",
              "mz",
              "mz<-",
              "exact_parent_neutral_mass",
              "exact_parent_neutral_mass<-",
              "lipid_class",
              "lipid_class<-",
              "species",
              "species<-",
              "adduct",
              "adduct<-",
              "adduct_rank",
              "adduct_rank<-",
              "FA_total_no_C",
              "FA_total_no_C<-",
              "FA_total_no_DB",
              "FA_total_no_DB<-",
              "degree_oxidation",
              "degree_oxidation<-",
              "parent_elem_formula",
              "parent_elem_formula<-",
              "parent_compound_name",
              "parent_compound_name<-"
              )